body{
    text-align: center;
    background-color: #fffbf5;
}
p{
    font-family:  Helvetica, sans-serif;
}
h1{
    font-family:  Helvetica, sans-serif;
    color: rgb(11, 113, 98);
}
h3 {
    font-family:  Helvetica, sans-serif;
    margin-bottom: 5px; 
    color: #008c76ff;
}
ul {
    font-family:  Helvetica, sans-serif;
    display: inline-block; 
    text-align: justify; 
    margin-top: 5px; 
}
img{
    border-radius: 5%;
}
